In [1]:
# import libaries and data set
import pandas as pd
import numpy as np

In [2]:
# data set will loading 
df = pd.read_csv('SampleStudyPy.csv')
df.head

<bound method NDFrame.head of       A01  1  25000  Asocciate DataScinetist
0     A02  2  30000     Junior DataScientist
1     A03  3  35000     Senior DataScientist
2     A04  4  30000              ML engineer
3     A05  5  55000       Senior ML engineer
4     A06  6  75000            DataScientist
..    ... ..    ...                      ...
194  A196  4  30000              ML engineer
195  A197  5  55000       Senior ML engineer
196  A198  6  75000              ML engineer
197  A199  1  25000  Asocciate DataScinetist
198  A200  2  30000     Junior DataScientist

[199 rows x 4 columns]>

In [3]:
df.columns

Index(['A01', '1', '25000', 'Asocciate DataScinetist'], dtype='object')

In [4]:
d = {
    'ID': df['A01'],
    'Year_exp': df['1'],
    'Salary' : df['25000'],
    'Job_role': df['Asocciate DataScinetist']
}

In [5]:
data = pd.DataFrame(d)
data.head(3)

    ID  Year_exp  Salary              Job_role
0  A02         2   30000  Junior DataScientist
1  A03         3   35000  Senior DataScientist
2  A04         4   30000           ML engineer

In [6]:
import sklearn

In [7]:
# from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [8]:
# made model Building
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.preprocessing import LabelEncoder
label_en = LabelEncoder()
# why using fit Transform
data_house = data.apply(LabelEncoder().fit_transform)

In [10]:
# x =data_house.drop(columns='Salary', axis=1)
# y = data_house['Salary']

In [11]:
x =data.drop(columns='Salary', axis=1)
y = data['Salary']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y , random_state=12,test_size=0.4)

In [13]:
x_train

       ID  Year_exp                 Job_role
175  A177         3     Senior DataScientist
165  A167         5       Senior ML engineer
174  A176         2     Junior DataScientist
132  A134         2     Junior DataScientist
78    A80         2     Junior DataScientist
..    ...       ...                      ...
3     A05         5       Senior ML engineer
130  A132         6              ML engineer
134  A136         4              ML engineer
155  A157         1  Asocciate DataScinetist
75    A77         5       Senior ML engineer

[119 rows x 3 columns]

In [14]:
x_train = x_train.apply(LabelEncoder().fit_transform)

In [15]:
x_train

      ID  Year_exp  Job_role
175   58         2         4
165   52         4         5
174   57         1         2
132   29         1         2
78   108         1         2
..   ...       ...       ...
3      2         4         5
130   28         5         3
134   31         3         3
155   43         0         0
75   106         4         5

[119 rows x 3 columns]

In [16]:
x_test = x_test.apply(LabelEncoder().fit_transform)

In [17]:
# models Regresstion 
liner_mode = LinearRegression()
randam_reg = RandomForestRegressor()
decision_tree = DecisionTreeRegressor()
knn_cls = KNeighborsRegressor()
svm =SVR()

In [18]:
model_liner = liner_mode.fit(x_train,y_train)

In [19]:
y_pred=model_liner.predict(x_test)

In [20]:
model_liner.score(x_test,y_test)

0.806759320383617

In [21]:
# accuracy

from sklearn.metrics import mean_squared_error,accuracy_score,mean_absolute_error,r2_score

print(f'mbe {mean_absolute_error(y_test,y_pred)}')

print(f'mbe {mean_squared_error(y_test,y_pred)}')

mbe 5314.407499081162
mbe 54940740.72343291

In [22]:
# what is accuracy metrix use

In [23]:
model_svm = svm.fit(x_train,y_train)
model_knn = knn_cls.fit(x_train,y_train)
model_de = decision_tree.fit(x_train,y_train)
model_ran = randam_reg.fit(x_train,y_train)

In [24]:
print (model_svm.score(x_test,y_test))
print(model_knn.score(x_test,y_test))
print(model_de.score(x_test,y_test))
print(model_ran.score(x_test,y_test))

-0.09700282765464419
0.28001758628269946
1.0
1.0

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

# Define the model
svm = SVR()

# Define the hyperparameters to tune
param_grid = {
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
    'C': [0.1, 1, 10, 100],
    'epsilon': [0.1, 0.2, 0.5, 0.3, 0.05, 0.01],
    'gamma': ['scale', 'auto', 0.001, 0.01, 0.1, 1]
}

# Setup the GridSearchCV
grid_search = GridSearchCV(svm, param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

# Fit the model
grid_search.fit(x_train, y_train)

# Print the best parameters and best score
print("Best parameters found: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

# Setup the RandomizedSearchCV
random_search = RandomizedSearchCV(svm, param_distributions=param_grid, n_iter=100, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

# Fit the model
random_search.fit(X_train, y_train)

# Print the best parameters and best score
print("Best parameters found: ", random_search.best_params_)
print("Best score: ", random_search.best_score_)

In [ ]:
#---------------------------------------------------------

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Define the model
rf = RandomForestRegressor()

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30, 40, 50],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# Setup the GridSearchCV
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

# Fit the model
grid_search.fit(X_train, y_train)

# Print the best parameters and best score
print("Best parameters found: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

# Define the model
rf = RandomForestRegressor()

# Define the hyperparameters to tune
param_dist = {
    'n_estimators': [int(x) for x in np.linspace(start=50, stop=500, num=10)],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [int(x) for x in np.linspace(10, 110, num=11)] + [None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# Setup the RandomizedSearchCV
random_search = RandomizedSearchCV(rf, param_distributions=param_dist, n_iter=100, cv=5, scoring='neg_mean_squared_error', n_jobs=-1, random_state=42)

# Fit the model
random_search.fit(X_train, y_train)

# Print the best parameters and best score
print("Best parameters found: ", random_search.best_params_)
print("Best score: ", random_search.best_score_)

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Define the model
model = LinearRegression()

# Use RFE to select the top 10 features
selector = RFE(model, n_features_to_select=10, step=1)
selector = selector.fit(X_train, y_train)

# Get the selected features
selected_features = X_train.columns[selector.support_]
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)